link(rel='stylesheet', href='logged-nav/logged-nav.scss')
.logged-nav
  .logged-nav__logo
    a(href='#'): img(src='headers__logo/headers__logo.svg', alt='logo')
  .logged-nav__nav
    a.logged-nav__item.logged-nav__item_active(href='#') Home
    a.logged-nav__item(href='#') About Us
    a.logged-nav__item.logged-nav__item_drop-down(href='#') Services
    a.logged-nav__item(href='#') Careers
    a.logged-nav__item(href='#') News
    a.logged-nav__item(href='#') Documentation
    a.logged-nav__item.logged-nav__user Cosmin Negoita