link(href='standart-nav/standart-nav.scss' rel='stylesheet')
.standart-nav
  .standart-nav__logo
    a(href='#'): img(src='headers__logo/headers__logo.svg', alt='logo')
  .standart-nav__nav
    a.standart-nav__item.standart-nav__item_active(href='#') Home
    a.standart-nav__item(href='#') About Us
    a.standart-nav__item(href='#') Services
    a.standart-nav__item.standart-nav__item_drop-down(href='#') Careers
    a.standart-nav__item(href='#') News
    a.standart-nav__item(href='#') Documentation
    a.standart-nav__sign-in(href='#') Login
    a.standart-nav__sign-up(href='#') Register