.headers
  .headers__logo
    a(href='#'): img(class='headers__img', src='headers__logo/headers__logo.svg', alt='logo')
  .headers__nav
    a.headers__item.headers__item_active(href='#') Home
    a.headers__item(href='#') About Us
    a.headers__item.headers__item_drop-down(href='#') Services
    a.headers__item(href='#') Careers
    a.headers__item(href='#') News
    a.headers__item(href='#') Documentation
    a.headers__item.headers__user Cosmin Negoita
