head
  link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic", rel="stylesheet")  
body
  include logged-nav/logged-nav
  include standart-nav/standart-nav